ul{
    display: table;
    width: 100%;
    height: 80px;

}

li{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
}

.content{
    background-color: gray;
}

.content ul li{
    background-color: white;
}
.special{
    margin-bottom: 0;
}